<main>
    <h1>Bienvenidos al Chat</h1>
    <div>
        <input type="text" name="chatBox" id="chatBox">
    </div>
    <div>
        <ul id="messageLog"></ul>
    </div>
</main>

{{!-- Importo script de Nodemodule --}}
<script src="/sweetalert2/sweetalert2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat2.js"></script>