<div>
    <h1>Chat de mi Ecommerce</h1>
    <input type="text" name="message" id="message">
    <div id="list-message">
        
    </div>
</div>


{{!-- Importo script de Nodemodule --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>